<form [formGroup]='addLeidingFormGroup' (ngSubmit)='onSubmit()' class="form-horizontal">
  <div class="modal-header">
    <h4 class="modal-title">Persoon toevoegen aan "{{naam}}"</h4>
    <button type="button" class="close" (click)="addLeidingModalRef.hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <fieldset>
      <div class="form-group">
        <label class="col-12 control-label" for="naam_id">Naam<i class="text-danger">*</i></label> 
        <div class="col-12">
          <input id="naam_id" formControlName='naam' class="form-control">
        </div>
        <div class="text-danger" *ngIf='addLeidingFormGroup.get("naam").errors?.required && addLeidingFormGroup.get("naam").touched'>Dit veld is verplicht.</div>
      </div>

        <div class="form-group">
          <label class="col-12 control-label" for="voornaam_id">Voornaam<i class="text-danger">*</i></label>
          <div class="col-12">
            <input id="voornaam_id" formControlName='voornaam' class="form-control">
          </div>
          <div class="text-danger" *ngIf='addLeidingFormGroup.get("voornaam").errors?.required && addLeidingFormGroup.get("voornaam").touched'>Dit veld is verplicht.</div>
        </div>

            <div class="form-group">
              <label class="col-12 control-label" for="email_id">Email</label>
              <div class="col-12">
                <input id="email_id" formControlName='email' class="form-control">
              </div>
              <div class="text-danger" *ngIf='addLeidingFormGroup.get("email").errors?.email && addLeidingFormGroup.get("email").touched'>Geef een geldig emailadres</div>
            </div>
    </fieldset>

  </div>
  <div class="modal-footer">

    <button type="submit" [disabled]="!addLeidingFormGroup.valid" class="btn btn-success">Wijzigen</button>
  </div>
</form>