<!--Modal voor het verwijderen van takgegevens -->

  <div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <button type="button" class="close" (click)="deleteModalRef.hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Ben je zeker dat je deze tak wil verwijderen?
  </div>
  <div class="modal-footer">

    <button type="button" (click)="onDelete()" class="btn btn-success">Verwijderen</button>
  </div>
