<!--Modal voor het wijzigen van takgegevens -->


    <form [formGroup]='editTakFormGroup' (ngSubmit)='onSubmit()' class="form-horizontal">
        <div class="modal-header">
          <h4 class="modal-title">{{title}}</h4>
          <button type="button" class="close" (click)="editModalRef.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <fieldset>
            <div class="form-group">
              <label class="col-12 control-label" for="naam_id">Naam</label>
              <div class="col-12">
                <input id="naam_id" formControlName='naam' class="form-control">
              </div>
              <div class="text-danger" *ngIf='editTakFormGroup.get("naam").errors?.required && editTakFormGroup.get("naam").touched'>Dit veld is verplicht.</div>
            </div>

            <div class="form-group">
              <label class="col-12 control-label" for="volgorde_id">Volgorde</label>
              <div class="col-12">
                <input type="number" id="volgorde_id" formControlName='volgorde' class="form-control">
              </div>
              <div class="text-danger" *ngIf='editTakFormGroup.get("volgorde").errors?.required && editTakFormGroup.get("volgorde").touched'>Dit veld is verplicht.</div>
              <div class="text-danger" *ngIf='editTakFormGroup.get("volgorde").errors?.min && editTakFormGroup.get("volgorde").touched'>De waarde moet minstens 1 zijn.</div>

            </div>

          </fieldset>

        </div>
        <div class="modal-footer">

          <button type="submit" [disabled]="!editTakFormGroup.valid" class="btn btn-success">Wijzigen</button>
        </div>   
    </form>
  

