<div class="row">
<div class="col-md-12">
  <h1 class="h1"> {{tak.naam}}</h1>

<div class="card card-accent-primary">
  <div class="card-header">
   Acties
  </div>
  <div class="card-body">
  <button type="button" class="btn btn-primary"><i class="fa fa-pencil"> Wijzigen</i></button> <button type="button" class="btn btn-danger"><i class="fa fa-remove"> Verwijderen</i></button>
  </div>
</div>
<div class="card card-accent-primary">
  <div class="card-header">
    Personen in {{tak.naam}}
  </div>
<div class="table table-striped">
  <mat-table [dataSource]="dataSource" >
<ng-container matColumnDef="naam">
  <mat-header-cell *matHeaderCellDef>Naam</mat-header-cell>
  <mat-cell *matCellDef="let leiding">{{leiding.voornaam}} {{leiding.naam}}</mat-cell>
</ng-container>
<ng-container matColumnDef="email">
  <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
  <mat-cell *matCellDef="let leiding">{{leiding.email}}</mat-cell>
</ng-container>
<ng-container matColumnDef="leidingSinds">
  <mat-header-cell *matHeaderCellDef>Leiding sinds</mat-header-cell>
  <mat-cell *matCellDef="let leiding">{{leiding.leidingSinds}}</mat-cell>
</ng-container>
<ng-container matColumnDef="datumGestopt">
  <mat-header-cell *matHeaderCellDef>Datum gestopt als leiding</mat-header-cell>
  <mat-cell *matCellDef="let leiding">{{leiding.datumGestopt}}</mat-cell>
</ng-container>
<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
</div>
</div>
</div>