<div class="row">
<div class="col-md-12">
  <h1 class="h1"> {{tak.naam}}</h1>
<!--Actieknoppen-->
<div class="card card-accent-primary">
  <div class="card-header">
   Acties
  </div>
  <div class="card-body">
  <button type="button" class="btn btn-primary"  data-toggle="modal" (click)="editModal.show()"><i class="icon-pencil"> Wijzigen</i></button> 
  <button type="button" class="btn btn-danger" [disabled]="hasLeiding" data-toggle="modal" (click)="deleteModal.show()"><i class="icon-trash"> Verwijderen</i></button>
  <button type="button" class="btn btn-success pull-right"  data-toggle="modal" (click)="addModal.show()">
    <i class="icon-user-follow"> Persoon toevoegen</i>
  </button>
  </div>
</div><!--Einde actieknoppen-->


<!--Tabel met leiding voor gekozen tak-->
<div class="card card-accent-primary">
  <div class="card-header">
    Personen in {{tak.naam}}
  </div>
<div class="table table-striped">
  <mat-table [dataSource]="dataSource" >
<ng-container matColumnDef="naam">
  <mat-header-cell *matHeaderCellDef>Naam</mat-header-cell>
  <mat-cell *matCellDef="let leiding">{{leiding.voornaam}} {{leiding.naam}}</mat-cell>
</ng-container>
<ng-container matColumnDef="email">
  <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
  <mat-cell *matCellDef="let leiding">{{leiding.email}}</mat-cell>
</ng-container>
<ng-container matColumnDef="leidingSinds">
  <mat-header-cell *matHeaderCellDef>Leiding sinds</mat-header-cell>
  <mat-cell *matCellDef="let leiding">{{leiding.leidingSinds}}</mat-cell>
</ng-container>
<ng-container matColumnDef="datumGestopt">
  <mat-header-cell *matHeaderCellDef>Datum gestopt als leiding</mat-header-cell>
  <mat-cell *matCellDef="let leiding">{{leiding.datumGestopt}}</mat-cell>
</ng-container>
<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
</div>
</div>
</div>


<!--Modal voor het wijzigen van takgegevens -->
<div bsModal #editModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editLabel" aria-hidden="true">
  <div class="modal-dialog" role="document"> 
    <form [formGroup]='editDebtFormGroup' (ngSubmit)='onSubmit()' class="form-horizontal">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Wijzig "{{tak.naam}}"</h4>
        <button type="button" class="close" (click)="editModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         
            <fieldset>
              <div class="form-group">
                <label class="col-12 control-label no-padding" for="naam_id">Naam</label>
                <div class="col-12 no-padding">
                  <input id="naam_id" formControlName='naam' class="form-control">
                </div>
                <div class="text-danger" *ngIf='editDebtFormGroup.get("naam").errors?.required && editDebtFormGroup.get("naam").touched'>Dit veld is verplicht.</div>
              </div>
          
              <div class="form-group">
                <label class="col-12 control-label no-padding" for="volgorde_id">Volgorde</label>
                <div class="col-12 no-padding">
                  <input type="number" id="volgorde_id" formControlName='volgorde' class="form-control">
                </div>
                <div class="text-danger" *ngIf='editDebtFormGroup.get("volgorde").errors?.required && editDebtFormGroup.get("volgorde").touched'>Dit veld is verplicht.</div>
          
              </div>
          
            </fieldset>
         
      </div>
      <div class="modal-footer">
       
        <button type="submit" [disabled]="!editDebtFormGroup.valid" class="btn btn-success">Wijzigen</button>
      </div>
    </div> 
  </form>
  </div>  
</div>

<!--Modal voor het verwijderen van een tak-->
<div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
  <div class="modal-dialog  modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Verwijder "{{tak.naam}}"</h4>
        <button type="button" class="close" (click)="deleteModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        
        <button type="button" class="btn btn-danger" ><i class="fa fa-remove"> Verwijderen</i></button>
      </div>
    </div>
  </div>
</div>


<!--Modal voor het toevoegen van een persoon in een tak-->
<div bsModal #addModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Persoon toevoegen aan "{{tak.naam}}"</h4>
        <button type="button" class="close" (click)="addModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-danger">
          <i class="fa fa-plus"> Toevoegen</i>
        </button>
      </div>
    </div>
  </div>
</div>
